#pokedex-list-wrapper{
    position: absolute;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    top:100px;
    bottom:0;
    left:0;
    width: 100%;
    -webkit-transition: opacity .25s;
    -o-transition: opacity .25s;
    transition: opacity .25s;
  }
  #pokedex-list-wrapper.hidden{
    opacity: 0;
    -webkit-transition: opacity .25s;
    -o-transition: opacity .25s;
    transition: opacity .25s;
  }

  @media(max-width:500px){
    #pokedex-list-wrapper{
      top:150px;
    }
  }

.container-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
    grid-gap: 2px;
    place-items: center;
    margin: 20px 0;
}