.cardP-container
{
    padding: 1rem;
    height: 100%;
    cursor: pointer;
}

.cardP
{
    background-color: var( --color );
    color: #FFF;
    box-shadow: 0 0 20px 0 var( --color );
    /* border-radius: 3rem; */
    overflow: hidden;
    height: 100%;
    padding  :4rem 6rem 4rem 5.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    will-change: box-shadow, transform;
    transition: .3s all;
}
.cardP .default-background{
    background-color: aqua;
    color: #FFF;

}
.cardP .cardP-title
{
    align-self: flex-start;
    margin-top :-4.3rem;
}

.cardP .cardP-title h2
{
    text-transform: capitalize;
    margin: 0;
    font-size: 2rem;
}

.cardP .cardP-title .pokemon-types
{
    margin-top: 1rem;
    display: flex;
}

.cardP .cardP-title .pokemon-types .type
{
    margin-left: 0.2rem;
}

.cardP .cardP-title span.type
{
    border-radius: 100rem;
    display: table;
    background-color: rgba( 255,255,255,.2 );
    padding: .3rem .7rem;
    text-align: center;
    margin-bottom: .5rem;
    text-transform: capitalize;
}

.cardP .pokemon-image
{
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 50%;
}

.cardP img
{
    max-width: 100%;
    max-height: 100%;
    filter: drop-shadow( 0 0 5px rgba( 0,0,0,.2 ) );
}

.pokemon-id
{
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 2.5rem;
    color: hsla(0,0%,100%,.2);

}

@media screen and ( max-width: 500px )
{
    :not( .details-view ) .cardP
    {
        align-items: flex-start;
        justify-content: space-between;
        height: 40vh;
        padding: 2rem;
    }

    .cardP .cardP-title h2
    {
        font-size: 1.2rem;
    }

    .pokemon-id
    {
        font-size: 2rem;
        top: 20px;
        right: 20px;
    }
}

@media screen and ( min-width: 1024px )
{
    .cardP:hover
    {
        transform: translateY( -5px );
        box-shadow: 0 0 20px 5px var( --color );
    }
}