
  
  /* Footer */
  #pokedex-footer{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom:0;
    left: 0;
    height: 50px;
    width: 100%;
    padding:0 20px;
    box-sizing: border-box;
    text-align: left;
    background:#212121;
    overflow: hidden;
  }
  #pokedex-footer > p{
    color: #FFF;
    margin:7px;
    padding:0;
    font-size: 12px;
  }
  #pokedex-footer a{
    color: #AAA;
  }  
  #pokedex-footer{
    white-space: normal;
    text-align: center;
    margin-top: 5em;
  }
  #pokedex-footer > p{
    font-size: 11px;
  }

  @media(max-width:500px){
    #pokedex-footer > p{
      font-size: 10px;
    }
  }
