.section-header {
    text-align: center;
    padding-bottom: 60px;
  }
  
  .section-header h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    width: fit-content;
    border : 6px solid black;
    margin: auto;
    background-color: hsl(45, 80%, 73%);
  }
  
  .section-header h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--color-primary);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  
  .section-header p {
    margin-bottom: 0;
    color: #6f6f6f;
  }
  

 /*  */
  
   .main-search-input {
      background: #fff;
      padding: 0 120px 0 0;
      border-radius: 1px;
      margin-top: 200px;
      box-shadow: 0px 0px 0px 6px rgba(255,255,255,0.3);
  }
  
  .fl-wrap {
      float: left;
      width: 100%;
      position: relative;
  }
  
  .main-search-input:before {
      content: '';
      position: absolute;
      bottom: -40px;
      width: 50px;
      height: 1px;
      background: rgba(255,255,255,0.41);
      left: 50%;
      margin-left: -25px;
  }
  
  .main-search-input-item {
      float: left;
      width: 100%;
      box-sizing: border-box;
      border-right: 1px solid #eee;
      height: 50px;
      position: relative;
  }
  
  .main-search-input-item input:first-child {
      border-radius: 100%;
  }
  
  .main-search-input-item input {
      float: left;
      border: none;
      width: 100%;
      height: 50px;
      padding-left: 20px;
  }
  
  .main-search-button{
  
        background: #4DB7FE;
  }
  
  .main-search-button {
      position: absolute;
      right: 0px;
      height: 50px;
      width: 120px;
      color: #fff;
      top: 0;
      border: none;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      cursor: pointer;
  }
  
  .main-search-input-wrap {
      max-width: 500px;
      margin: 20px auto;
      position: relative;
  }
  
  :focus {
      outline: 0;
  }
  
  
  @media only screen and (max-width: 768px){
  .main-search-input {
      background: rgba(255,255,255,0.2);
      padding: 14px 20px 10px;
      border-radius: 10px;
      box-shadow: 0px 0px 0px 10px rgba(255,255,255,0.0);
  }
  
  .main-search-input-item {
      width: 100%;
      border: 1px solid #eee;
      height: 50px;
      border: none;
      margin-bottom: 10px;
  }
  
  .main-search-input-item input {
      border-radius: 6px !important;
      background: #fff;
  }
  
  .main-search-button {
      position: relative;
      float: left;
      width: 100%;
      border-radius: 6px;
  }
  }
  